MONGO_URI=mongodb://127.0.0.1:27017/freshkart
JWT_SECRET=change-this-long-random-string
PORT=5000
ADMIN_PHONE=9999999999
ADMIN_PASSWORD=change-me-now
PINCODES=480334
MIN_ORDER=150
DELIVERY_CHARGE=30
FREE_ABOVE=500
